.containerPrincipal {
  width: 100%;
  display: flex;

  min-height: 100vh;
  flex-direction: column;
  background-color: #363636;
  overflow-x: hidden;
}

.container {
  width: 100%;
  overflow-x: auto; /* ESSENCIAL */
  scrollbar-width: thin; /* Firefox */
}

.containerPrincipal main {
  flex: 1;
  padding: 10px;
}
.container_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.container_input input {
  width: 100%;
  margin: 10px;
}

.input {
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  border-radius: 0.375rem;
  outline: none;
  color: #fff;
  font-size: 20px;
  width: 100%;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  focus: ring-opacity-30;
}

.btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.adicionar {
  background-color: #845afc;
  color: #fff;
}

.editar {
  background-color: green;
  color: #fff;
}

.container_produtos {
  background-color: #4f4f4f;
  max-width: 600px;
  margin: 0 auto;
}

.tabela {
  border-collapse: collapse;
  background-color: rgb(43, 43, 44);
  color: white;
  width: 100%;
  min-width: 600px; /* menor valor para manter estrutura */
}

.tabela th,
.tabela td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
  font-size: 1.4rem;
  white-space: normal;
  word-break: break-word;
}

.tabela_th {
  text-align: center !important;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.paginacao button {
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: white;
}

.paginacao button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.texto {
  color: white;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}

@media (min-width: 1968px) {
  .container {
    width: 47%;
    margin: 0 auto; /* centraliza */
  }
}

@media (max-width: 768px) {
  .container_input {
    padding: 10px;
  }

  .input {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
    padding: 0.75rem;
  }

  .tabela {
    min-width: 500px;
  }

  .tabela th,
  .tabela td {
    font-size: 0.9rem;
    padding: 6px;
  }

  .paginacao {
    flex-wrap: wrap;
    gap: 8px;
  }
}
@media (max-width: 400px) {
  .tabela {
    min-width: 5px;
  }

  .tabela th,
  .tabela td {
    font-size: clamp(12px, 2vw, 16px);
    padding: 6px;
  }
  .input {
    font-size: 14px;
    padding: 6px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .container_input {
    flex-direction: column;
  }

  .paginacao {
    flex-direction: row;
    align-items: center;
    gap: 9px;
  }
}
