.container_header {
  background: #1f1f1f;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.usuario span{
  font-size: 1.3rem
}

.btnSair {
  background: #e53935;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size:1.2rem
}

.btnSair:hover {
  background: #c62828;
}


@media (max-width: 400px) {
  .container_header h1{
    font-size: 1rem
  }
}

